.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .dashboard-link-container {
    width: 100%;
    max-width: 300px;
  }
  
  .dashboard-link {
    display: block;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #555;
    background-color: #f0f0f0;
    border: 2px solid #555;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dashboard-link:hover {
    background-color: #555;
    color: #fff;
  }
  